.main-header{
    background-image: linear-gradient(0deg, rgba(5,84,94,0.9051995798319328) 42%, rgba(117,230,218,0.7) 100%),
    url(/images/clinic-images/main-background-mobile.jpg);
    background-size: cover;
    background-position: center;
}
.hero-section{
    padding: 20% 0;
}
.hero-text{
    color: #ffff;

    .header{
        font-family: $main-font;
        font-weight: 600;
        font-size: 2em;
    }

    .sub-header{
        font-weight: 400;
        font-size: 1em;
    }
    a{
        margin: 10px 0;
    }
}