.our-clinic{
    padding: 10% 0;
    
}

.clinic-text{
    color: #ffff;
    h2{
        font-family: $main-font;
        font-weight: 600;
        font-size: 1.75em;
        width: 70%;
    }
    p{
        font-weight: 400;
        font-size: .90em;
        line-height: 1.15;
        width: 70%;
    }
}

.clinic-carousel{
    img{
        border-radius: 10px;
    }
    .carousel-item{
        border-radius: 10px;
    }
}

.carousel-cta-container{
    text-align: center;
    margin-top: 20px;
}