/* COLORS */
$main-color: #05545E;
$secondary-color: #75E6DA;
$third-color: #D4F1F4;

/* GRADIENT */
$main-gradient: linear-gradient(0deg, rgba(5,84,94,0.9051995798319328) 66%, rgba(117,230,218,0.7) 100%);

/* FONTS */
$main-font: 'Montserrat', sans-serif;
$secondary-font: 'Montserrat Alternates', sans-serif;